.tile {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100px;
}

.white-tile {
  background-color: white;
}

.black-tile {
  background-color: #779556;
}

.tile img {
  width: 80px;
}
